/******************************************
/* CSS       
/*******************************************/
                     
/* Box Model Hack */ 
* {                  
  box-sizing: border-box;
  margin: 0;         
  padding: 0;        
  text-align: center;
}                    
                     
button {             
  margin-top: 50px;  
  width: 100px;      
  height: 30px;      
}                    
p {                  
  width: 50%;        
  margin: 50px auto; 
  line-height: 2;    
  font-weight: 600;  
}                    
                     
/******************************************
/* LAYOUT                
/*******************************************/
                     
/******************************************
/* ADDITIONAL STYLES     
/*******************************************/
                     