/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES        
/*******************************************/

html {
  font-size: 62.5%l;
}
body {
  background: #f5f9fc;
  line-height: 1.2;
}

h1,
h2 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: gray;
}
/******************************************
/* LAYOUT               
/*******************************************/
header {
  width: 100%;
  height: 100px;
  margin: 1rem;
}

nav {
  width: 100;
  float: left;
}
.nav-logo {
  width: 8%;
  margin-right: 50px;
}

nav ul {
  width: 100%;
  display: inline-block;
}

nav ul li {
  display: inline;
  list-style: none;
  margin-left: 3rem;
}
nav ul li:first-child {
  margin-left: 125px;
}

nav ul li a {
  font-size: 1.2rem;
  color: gray;
}

.btn-1 {
  border: 2px solid black;
  width: 125px;
  height: 36px;
  margin-left: 196px;
  border-radius: 5px;
  background: black;
  color: white;
  font-size: 1.2rem;
}

.btn-1:hover {
  background: white;
  color: black;
  cursor: pointer;
}
/* --------------Section One---------------*/

.section-1 {
  width: 100%;
}

.main {
  float: left;
}

.main h1 {
  margin-left: 13%;
  font-weight: 800;
}

.main input {
  margin-left: 13%;
}
.main input[type="text"] {
  width: 200px;
  padding: 0.4rem;
}

.btn-2 {
  width: 100px;
  height: 34px;
  padding: 0.3rem;
  background: black;
  color: white;
}
.btn-2:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.main p {
  font-size: 0.9rem;
  color: gray;
  width: 45%;
  margin-left: 13%;
  margin-top: 3%;
}

.main h5 {
  margin-left: 13%;
}

.topImg {
  margin-left: 16%;
  width: 37%;
}

/* ---------------Section Two----------------- */
.section-2 {
  width: 100%;
  margin: 100px;
}

.container {
  height: 500px;
  width: 100%;
  /* width: 500px;   */
  margin: 0 30px;
}

.column {
  float: left;
  width: 20%;
  margin-left: 10px;
}

.column p {
  font-size: 0.9rem;
  color: gray;
  width: 60%;
  margin: 1rem;
  padding: 1rem;
}

.column span {
  margin-left: 12%;
  font-weight: 800;
}

.feature-logo {
  width: 30%;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 14%;
  display: block;
  margin-top: 10px;
}

.section-3 {
  clear: both;
  margin: 10px;
}

.section-3 p {
  font-size: 1.2rem;
  margin: 2rem;
}
                       
/******************************************      
/* MEDIA QUERIES                           
/*******************************************/
                       
@media screen and (max-width: 320px) {
  header {             
    float: none;       
  }                    
  nav ul li {                     
    visibility: hidden;           
  }                               
  .nav-logo {                     
    display: block;               
    width: 50%;                   
    visibility: visible;          
  }                               
  .btn-1 {                        
    visibility: hidden;           
  }                               
  .section-1 {                    
    width: 100%;                  
    height: auto;                 
    float: none;                  
    border-bottom: 1px solid gray;
    overflow: hidden;             
    padding-bottom: 5px;          
  }                               
  .main h1 {                      
    font-size: 2rem;              
    font-weight: 500;             
    width: 100%;                  
  }                                                              
  .main h5 {                      
    font-size: 1.5rem;            
    font-weight: 900;             
  }                               
  .btn-2 {                        
    visibility: hidden;           
  }                               
  .main input[type="text"] {      
    float: none;                  
    width: 80%;                   
  }                               
  .main p {                       
    float: none;                  
    width: 100%;                  
    font-size: 1.5rem;            
    line-height: 2;               
  }                               
  .topImg {                       
    float: none;                  
    display: block;               
    width: 100%;                  
    height: auto;                 
  }                               
  .section-2 {                    
    float: none;                  
    width: 100%;                  
    margin: auto;                 
  }                               
  .column {                       
    margin: auto;                 
    float: none;                  
    width: 100%;                  
    border-bottom: 1px solid black;
    padding: 10px;                
  }                               
  .column p {                     
    float: none;                  
    width: 100%;                  
    font-size: 1.5rem;            
  }                               
  .feature-log0 {                 
    display: block;               
    width: 100%;                  
  }                               
                                  
  .section-3 {                    
    visibility: hidden;           
  }                               
}                                 
                                  