* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header,
footer {
  height: 100px;
  border: 1px solid black;
  clear: both;
}

section {
  height: 400px;
  width: 15%;
  border: 1px solid black;
  float: left;
}

.middle {
  width: 55%;
  background: purple;
}

@media screen and (max-width: 600px) {
  section {
    background: green;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  section {
    background: blue;
    width: 33.3333%;
  }
  .middle {
    display: none;
  }
}
