/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: #eee;
}

.container {
  /* background: url(https://pics.me.me/its-called-a-joke-we-used-to-tell-them-before-38900561.png) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
}

.box-1 {
  
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
