/******************************************
/* CSS          
/*******************************************/
                
/* Box Model Hack */
* {             
  box-sizing: border-box;
  text-align: center;
}                    
                     
h1 {                 
  margin: 100px;     
}              
               
h2 {           
  color: black;
}              
                     
                     
/******************************************
/* LAYOUT                
/*******************************************/
                     
/******************************************
/* ADDITIONAL STYLES     
/*******************************************/
                     