/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}             
              
html {               
  font-size: 62.5%;  
}                    
                     
body {               
  font-family: Helvetica, sans-serif;
}                    
                     
h1,                  
h2 {                 
  text-align: center;
  font-size: 4rem;   
  font-weight: 700;  
  color: black;      
}                    
                     
img {                
  display: block;    
  height: 300px;     
  margin: 0 auto;        
}                        
                         
/******************************************  
/* LAYOUT                                    
/*******************************************/
                         
ul {                     
  width: 100px;          
  height: 330px;         
  border: 3px solid black;
  margin: 0 auto;        
  list-style: none;      
  padding: 0;            
}                        
                         
li {                              
  /* display: inline; */          
  width: 94px;                    
  height: 65px;                   
}                                 
/******************************************  
/* ADDITIONAL STYLES                         
/*******************************************/
                                  
#blue {                           
  background: rgba(125, 125, 247);
}                                 
#yellow {                         
  background: rgba(225, 231, 139);
}                                 
#green {                          
  background: rgba(157, 245, 145);
}                                 
#pink {                           
  background: rgba(241, 130, 245);
}                                 
#orange {                         
  background: rgba(233, 193, 63); 
}                                 
                                  