/*------------Google Fonts---------------  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************                                                      
/* BASE STYLES                                                                                   
/*******************************************/

body {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

/******************************************                                                      
/* HEADER NAV                                                                                    
/*******************************************/
header {
  position: relative;
  width: 100%;
  height: 100px;
  background: black;
}

header > nav {
  width: 90%;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 108px;
  margin-top: 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
.logo {
  position: absolute;
  left: 20px;
  top: 25px;
  width: 2%;
}

/******************************************                                                      
/* CONTAINERS & SECTIONS                                                                         
/*******************************************/

/* ---------LEFT SECTION------------------ */

.firstContainer {
  width: 100%;
  float: left;
  background: black;
  color: white;
  text-align: left;
}
.leftSection,
.rightSection {
  width: 50%;
  height: 500px;
}
.rightSection {
  float: right;
}
.leftSection {
  float: left;
  padding: 50px;
}
.leftSection h1 {
  margin-left: 44px;
  font-size: 3em;
  font-weight: 300;
}
.leftSection p {
  margin-left: 44px;
  font-weight: 200;
  font-size: 1.7em;
  line-height: 2;
  padding-bottom: 40px;
}

.fcButton1 {
  width: 200px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.3em;
  font-weight: bold;
}
.fcButton2 {
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 50px;
  background: #000;
  color: #fff;
}

.fcButton1:hover {
  background: gray;
  cursor: pointer;
}
.fcButton2:hover {
  background: #eee;
  cursor: pointer;
}

/* ----------RIGHT SECTION-------------- */

.rightSection {
  padding: 50px;
}

.fcImage {
  margin-left: 35px;
  width: 110%;
  height: 135%;
}

/* -----------------Second Container ------------------- */

.secondContainer {
  float: left;
  width: 100%;

  padding: 150px;
  margin-top: 100px;
}                   
                    
.orderBtn {         
  width: 200px;     
  /* margin-left: 0px; */
  padding: 20px;    
  border-radius: 5px;
  font-size: 1.3em; 
  font-weight: bold;
  background: black;
  color: white;     
}                   
.orderBtn {         
  background: white;
  color: black;     
}                   
                    
.aboutUs,           
.cards {            
  width: 50%;       
}                   
                    
.aboutUs {          
  float: left;      
  padding-right: 25%;
}                   
                    
.aboutUs h4 {       
  font-weight: 800; 
  font-size: 1.2em; 
}                   
                    
.aboutUs h2 {       
  width: 200%;      
  font-weight: 800; 
  font-size: 3em;   
}                   
                    
.aboutUs p {        
  width: 150%;      
  font-size: 1.5em; 
  line-height: 2;   
}                   
                    
.cards {            
  float: right;     
}                   
                    
.cardImage {        
  width: 100%;      
}                   
.card1 {            
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; 
  width: 40%;       
  float: left;      
  margin-left: 10%; 
}                   
                    
.card1:hover {      
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}                   
                    
.container {        
  text-align: center;
  padding: 2px 16px;
}                   
/* ----------------card2----------      */
                    
.card2 {            
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; 
  width: 40%;       
  float: right;     
  margin-top: 1%;   
}                   
                    
.card2:hover {      
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}                   
                    
.container {        
  text-align: center;
  padding: 2px 16px;
}                   
                    
/* -------------card3------------- */
                    
.card3 {            
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; 
  width: 40%;       
  float: left;      
  margin-left: 10%; 
  margin-top: 8%;   
}                   
                    
.card3:hover {      
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}                   
                    
.container {        
  text-align: center;
  padding: 2px 16px;
}                   
                    
/* --------------card4---------------- */
                    
.card4 {            
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; 
  width: 40%;       
  float: right;     
  margin-top: 5%;   
}                   
                    
.card4:hover {      
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}                   
                    
.container {        
  text-align: center;
}                   
/* -----------------Third Container------------------------*/
.thirdContainer {   
  width: 100%;      
  float: left;      
  margin-top: 100px;
}                   
                    
.cfaImage {         
  float: left;      
  width: 500px;     
  height: 450px;    
  background: rgb(162, 173, 175);
  margin-top: 150px;
  margin-left: 100px;
}                   
.cfa {              
  width: 400px;     
  height: 200px;    
  float: right;     
  margin-top: 135px;
  margin-right: 240px;
}                   
                    
.cfa h4 {           
  font-weight: 800; 
  font-size: 1.2em; 
}                   
.cfa h2 {           
  width: 100%;      
  font-weight: 700; 
  font-size: 2.5em; 
}                   
.cfa p {            
  width: 150%;      
  font-size: 1.4em; 
  line-height: 2;   
}                   
.cfaButton {        
  width: 200px;     
  padding: 20px;    
  border-radius: 5px;
  font-size: 1.2em; 
  font-weight: bold;
  background: #000; 
  color: #fff;      
  margin-top: 90px; 
}                   
.cfaButton:hover {  
  background: rgba(179, 178, 178, 0.1);
  cursor: pointer;  
}                   
                    
/* -----------Divider------- */
                    
.divContainer {     
  clear: both;      
  text-align: center;
  padding-top: 150px;
}                   
.divider {          
  margin: 0 200px;  
  padding: 0 100px; 
}                   
.divider h2 {       
  font-weight: 800; 
  font-size: 3em;   
}                   
.divider p {        
  font-size: 1.5em; 
  line-height: 2;   
}                   
                    
/* -----------Fourth Container----------- */
.fourthContainer {  
  width: 100%;      
  float: left;      
  margin-top: 100px;
  margin-bottom: 100px;
}                   
.image {            
  float: left;      
  width: 400px;     
  height: 400px;    
  background: rgb(162, 173, 175);
  margin: 50px 150px;
}                   
.description {      
  width: 550px;     
  float: left;      
  margin-top: 30px; 
  position: relative;
}                   
.description h4 {   
  font-weight: 800; 
  font-size: 1.2em; 
}                   
.description h2 {   
  font-weight: 800; 
  font-size: 2.5em; 
}                   
.description p {    
  font-size: 1.5em; 
  line-height: 2;   
}                   
.checkBox {         
  position: absolute;
  width: 50px;      
  height: 25px;     
  background: rgb(10, 9, 9);
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
}                   
.boxLabel {         
  position: absolute;
  font-size: 1.5em; 
  font-weight: bold;
}                   
.left,              
.right {            
  width: 10%;       
}                   
.left {             
  margin-right: 10px;
}                   
.right {            
  margin-left: 10px;
}                   
                    
/* ---------------SECTION------------ */
section {           
  width: 100%;      
  height: 100px;    
  clear: both;      
  text-align: center;
}                   
section span {      
  background: black;
  color: white;     
  font-size: 1.5em; 
  padding: 10px;    
}                   
                    
/* -----------------coreFeatures------------------ */
.coreFeatures {     
  width: 100%;      
  height: 400px;    
  background: white;
  position: relative;
}                   
.flash {            
  float: left;      
  position: absolute;
  width: 100%;      
  height: 400px;    
  left: 0px;        
  top: 0px;         
  background: #0a0909;
  color: black;     
}                   
/* .flash::before {                          
  content: "";                               
  position: absolute;                        
  height: 500px;                             
  bottom: -20px;                             
  left: ;                                    
  right: 0;                                  
  transform: skewY(-3deg);                   
  background: #0a0909;                       
}                                            
 */                 
.flashCard {        
  width: 19.625rem; 
  height: 10rem;    
  background: white;
  border-radius: 15px;
  float: left;      
  margin: 10px;     
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; 
  text-align: left; 
}                   
                    
.flashCard > label {
  font-weight: bold;
  font-size: 1.2em; 
}                   
.flashCard > p {    
  font-size: 1.2em; 
  line-height: 2;   
  margin: 31px;     
}                   
.flashCard input[type="checkbox"] {
  margin: 18px 0px 0 20px;
  width: 30px;      
  height: 21px;     
  position: relative;
  border: 2px solid rgb(8, 8, 8);
  border-radius: 5px;
}                   
                    
/* ---------------standPoint------------------ */
.standPoint {       
  width: 100%;      
  margin-top: 80px; 
}                   
.standPointImg {    
  float: left;      
  width: 400px;     
  height: 400px;    
  background: rgb(162, 173, 175);
  margin: 50px 150px;
}                   
.standPointDescription {
  width: 550px;     
  float: left;      
  margin-top: 30px; 
  position: relative;
}                   
                    
.standPointTitle {  
  font-weight: 800; 
  font-size: 1.2em; 
}                   
.standPointPara1 {  
  font-size: 1.5em; 
  line-height: 2;   
}                   
.standPointButton { 
  width: 200px;     
  padding: 20px;    
  border-radius: 5px;
  font-size: 1.2em; 
  font-weight: bold;
  background: #000; 
  color: #fff;      
  margin-top: 90px; 
}                   
                    
/* ------------CAROUSEL--------------------- */
                    
.carousel {         
  clear: both;      
  text-align: center;
  width: 100%;      
  height: 300px;    
  position: relative;
  margin-top: ;     
}                   
                    
.carousel h4 {      
  font-weight: 800; 
  font-size: 1.2em; 
}                   
                    
.carousel p {       
  font-size: 2.2em; 
  line-height: 2;   
  padding: 10px;    
  margin-left: 158px;
  margin-right: 171px;
}                   
                    
.carouselLeft,      
.carouselRight {    
  width: 8%;        
}                   
.carouselLeft {     
  position: absolute;
  left: 0;          
  top: 34%;         
}                   
.carouselRight {    
  position: absolute;
  left: 92%;        
  top: 30%;         
}                   
.carouselLogo {     
  width: 5%;        
  position: absolute;
  bottom: 8%;       
  left: 38%;        
}                   
.author {           
  position: absolute;
  font-weight: 800; 
  font-size: 1.6em; 
  bottom: 21%;      
  left: 46%;        
}                   
.author1 {          
  position: absolute;
  font-size: 1.5em; 
  line-height: 2;   
  padding: 10px;    
  bottom: 5%;       
  left: 43%;        
}                   
                    
/* -----------FOOTER TOP--------------- */
.footer-top {       
  width: 100%;      
  height: 200px;    
  background: black;
  color: white;     
  margin-top: 64px; 
}                   
.footer-top > div { 
  float: left;      
}                   
.footer-top > div + div {
  float: left;      
}                   
.footerTopTitle {   
  font-weight: 800; 
  font-size: 1.2em; 
  margin: 60px 0 0 200px;
}                   
.footerTopPara {    
  font-size: 2.3em; 
  line-height: 2;   
  margin: 20px 0 0 200px;
}                   
.footerTopButton1 { 
  width: 200px;     
  margin-left: 50px;
  padding: 20px;    
  border-radius: 5px;
  font-size: 1.3em; 
  font-weight: bold;
  margin: 50px 0 0 150px;
}                   
                    
.footerTopButton2 { 
  width: 200px;     
  margin-left: 50px;
  padding: 20px;    
  border-radius: 5px;
  font-size: 1.3em; 
  font-weight: bold;
  margin: 50px;     
}                   
                    
/* -------------FOOTER-------------- */
                    
footer {            
  width: 100%;      
  clear: both;      
}                   
footer section {    
  float: left;      
  width: 30%;       
  margin-left: 30px;
  padding-left: 10px;
  text-align: left; 
}                   
footer section h4 { 
  font-weight: 800; 
  font-size: 1.2em; 
}                   
footer section p {  
  font-size: 1.2em; 
  line-height: 2;   
}                   
                    
.firstList {        
  float: left;      
}                   
                    
.secondList {       
  float: left;      
}                   
                    
.thirdList {        
  float: left;      
}                   
                    
.fourthList {       
  float: left;      
}                   
                    
.firstList,         
.secondList,        
.thirdlist,         
.fourthList {       
  width: 25%;       
  text-align: left; 
}                   
.firstList,         
.secondList,        
.thirdlist,         
.fourthList h4 {    
  font-weight: 800; 
  font-size: 1.2em; 
}                   
                    
.firstList,         
.secondList,        
.thirdlist,         
.fourthList p {     
  font-size: 1.2em; 
  line-height: 2;   
}                   
                    
.firstList,         
.secondList,        
.thirdlist,         
.fourthList,        
ul li {             
  list-style: none; 
}                   
                    
.firstList,         
.secondList,        
.thirdlist,         
.fourthList,        
ul li a {           
  text-decoration: none;
  color: black;     
}                   
                    