* {
  box-sizing: border-box;
}
:root {
  --desktop: 1200px;
  --laptop: 1024px;
  --tablet: 768px;
  --iPhone: 600px;
  --phone: 480px;
}

body {
  padding: 10px;
  margin: 10px;
  background: #202020;
}
/* ================================================ */
header,
footer {
  height: 100px;
  border: 1px solid black;
  clear: both;
  background: lightblue;
}

.section1 {
  height: 250px;
  width: 33.3333%;
  border: 1px solid black;
  float: left;
  background: lightgreen;
}
.section2 {
  height: 400px;
  width: 50%;
  border: 1px solid black;
  float: left;
  background: rgb(241, 221, 34);
}

@media only screen and (max-width: 900px) {
  .section1 {
    display: inline-block;
    width:50%;
  }

  .section-stretch {
    width: 100%;
    float: none;
  }
}
@media only screen and (max-width: 600px) {
  .section1 {
    display: block;
    width: 100%;
    float: none;
  }
  .section2 {
    display: block;
    width: 100%;
    float: none;
  }
}
